.header {
  width: 100%;
  margin-bottom: 80px;
}

.container-1 {
  display: flex;
  min-height: 802px;
  align-items: flex-start;
  padding-top: 50px;
}

.header-text-bg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;

  width: 85%;
}

.header-text-bg img {
  display: block;
  width: 100%;
}


#worldmap {
  position: absolute;
  top: 200px;

  transform: translate3d(0,0,0);
}

.header__block-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 49.5%;
  width: 100%;
}

.header-logo {
  display: inline-block;
  width: 53.5%;
}

.header-logo img {
  display: block;
  width: 100%;
}

.header__social-link {
  display: block;
  opacity: 0.8;
  transition: opacity .3s;
}

.header__social-link:hover {
  opacity: 1;
}

.header-text {
  display: block;
  margin-top: 9px;
  width: 36.5%;
}

.header-text img {
  display: block;
  width: 100%;
}

.header__social-link {
  width: 24px;
  height: 24px;
}

.header__social-link-1 {
  background: url("../images/instagram.png") no-repeat center;
}

.header__social-link-2 {
  background: url("../images/twitter.png") no-repeat center;
}

.header__social-link-3 {
  background: url("../images/facebook.png") no-repeat center;
}

.header__social-link-4 {
   background: url("../images/linkedin.png") no-repeat center;
}

.header__block-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  width: 100%;
  justify-content: flex-end;
}

.header__social-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  width: 30%;
}

@media (max-width: 1172px) {
  .container-1 {
    min-height: 70vw;
  }
}

@media (max-width: 900px) {
  .header-text-bg {
    top: 5%;
  }
}

@media (max-width: 750px) {
  .container-1 {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .header__block-1 {
    flex-direction: column;
  }

  .header__social-links {
    max-width: 80%;
    width: 100%;
  }

  .header-text-bg {
    display: none;
  }

  #worldmap {
    display: none;
  }

  .container-1 {
    background: url(../images/bg-header.png) no-repeat;
    background-size: contain;
  }
}

@media (max-width: 600px) {
  .header-logo {
    width: 152px;
    height: 48px;

  }

  .header-text {
    width: 105px;
    height: 38px;
  }
}

@media (max-width: 600px) {

  .header {
    margin-bottom: 7%;
  }

  .container-1 {
    background-position: 0 30px;
  }
}

@media (max-width: 400px) {
  .container-1 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
