@font-face {
	font-family: 'AvenirLight';
	src: url('../fonts/AvenirLight.eot');
	src: url('../fonts/AvenirLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirLight.woff') format('woff'),
		url('../fonts/AvenirLight.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirMedium';
	src: url('../fonts/AvenirMedium.eot');
	src: url('../fonts/AvenirMedium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirMedium.woff') format('woff'),
		url('../fonts/AvenirMedium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirNext';
	src: url('../fonts/AvenirNext.eot');
	src: url('../fonts/AvenirNext.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNext.woff') format('woff'),
		url('../fonts/AvenirNext.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
