html {
  background: #041e3d;
}

body {
  background: url('../images/bg-min.jpg') no-repeat center;
  background-size: cover;

  padding-bottom: 400px;

  font-family: 'AvenirLight';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  overflow: hidden;

  max-width: 1200px;
  width: 100%;
  padding: 0 18px;
  margin: 0 auto;
}

@media (max-width: 400px) {
  .container {
    padding: 0 15px;
  }
}
